*{ box-sizing: border-box;}
body{
    /* border: paleturquoise 3px solid; */
    background: rgb(40,40,40);
    color:whitesmoke;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.dialog-space{
    max-width:620px;
    height: 30px;
    /* border: 5px solid orange; */
    width:100%
}
.hangman{
    display: flex;
    align-items: center;
    justify-items: center;
    /* border: 5px solid red; */
    max-width:430px;
    height: 320px;
}
.secret-word{
    /* border: 5px solid red; */
    min-height:80px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 30px;
    letter-spacing: 6px;
    font-family: monospace;
    color: green;
    width: 100%;
}
.keyboard{
    /* border: 5px solid red; */
    display: grid;
    grid-template-columns: repeat(9,minmax(35px,50px));
    grid-template-rows: repeat(3,minmax(30px,40px))  ;
    justify-items: center;
    justify-content: center ;

}


.dialog{
    /* border: 5px solid red; */
    text-align: center;
    justify-content: center;
}
.selector{
    min-width: 25px;
    min-height: 25px;
    border-radius: 6px;
}


.letter{
    /* border: 5px solid green; */
    background: green;
    margin:20px;
    
}


.btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    max-height: 25px;
    border-radius: 6px;
    background: yellowgreen;
    
}

