*{  
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body{
    /* border: paleturquoise 3px solid; */
    background: rgb(40,40,40);
    color:whitesmoke;

    display: flex;

    flex-direction: column;
    align-items: center;
}

.hangman{
    display: flex;
    align-items: flex-start;
    justify-items: center;
    /* border: 5px solid red; */
    width:540px;
    height: 360px;
    margin-bottom: 15px;
}
.secret-word-place{
    border: 5px solid red; 
    width:320px;
    height: 60px;
}
.secret-word{
    /* border: 5px solid red; */
    min-height:0px;
    display: flex;
    align-items:center;
    justify-content: center;
    font-size: 35px;
    letter-spacing: 3px;
    font-family: monospace;
    color: green;
    width: 100%;
    /* margin-bottom: 25px; */

}
.keyboard{
    /* border: 5px solid red; */
    display: grid;

    grid-template-columns: repeat(9,minmax(32px,90px));
    grid-template-rows: repeat(3,minmax(32px,90px))  ;
    
    /* justify-items: center; */
    /* justify-content: center ; */

}


.dialog{
    position: relative;
    top: -344px;
    left:0%;
    /* border: 5px solid red; */
    text-align: center;
    justify-content: center;
    font-size: 24px;
    width:100%;
    color: yellowgreen;
}
.selector{
    transition: 0.3s;
    border:2px solid rgb(40,40,40);
    min-width: 25px;
    min-height: 25px;
    border-radius: 6px;
    background: black;
    color:yellowgreen;
    font-size: 21px;
    margin-left: 15px;
    margin-right: 15px;
}

.btn{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    min-width: 25px;
    min-height: 25px;
    max-width: 50px;
    max-height: 50px;
    margin: 2px;
    border-radius: 6px;
    background: yellowgreen;
    font-size: 19px;
}
.ok-btn{
    color:black;
    width:40px;
}

